@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ComicReliefB';
  src: url('../assets/fonts/ComicReliefB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-sans;
}